#title {
	text-align: center;
	font-size: 40px;
}


.board {
	background-color: rgb(211,211,211);
	margin-left: 480px; 
	margin-right: 516px;
	display: flex;
	font-size: 0px;
}

p {
	color: darkorange;
	text-align: center;
	font-size: 30px;
}

.btn-reset {
	visibility: hidden;
	margin: 0 auto;
    	display: block;
}

.element {
	position: relative;
	border: 1px solid black;
	border-collapse: collapse;
	width: 60px; 
	height: 60px; 
	text-align: center
}
